/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #5cb85c;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 10px;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
}

#recommendations {
    margin-top: 20px;
}

#recommendationList {
    list-style-type: none;
    padding: 0;
}

#recommendationList li {
    background-color: #e6f7e6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
}

button:hover {
    background-color: #4cae4c;
}
